@media (max-width: 600px) {
  .servicesWrapper {
    background: linear-gradient(130.02deg, white 0.66%, #92d362 83.32%);
    justify-content: center;
  }

  .leftServices {
    display: none;
  }

  .rigthServices {
    width: 90%;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .rigthServices h2 {
    width: 95%;
  }

  .rigthServices p {
    width: 90%;
  }

  .rigthServices button {
    width: 35%;
    height: 2.5rem;
    color: #92d362;
    background-color: white;
  }
}
