@media (max-width: 600px) {
    .postWrapper {
        height: 65%;
        width: 250px;
        flex-flow: column nowrap;        
        justify-content: space-between;
        background-color: white;
        margin-bottom: 1.5rem;
    }

    .rigthInfo {
        flex-flow: column wrap; 
        
        width: 90%;
        height: 10rem;
        justify-content: flex-start;
        align-items: center;
    }

    .rigthInfo h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .rigthInfo button {
        background-color: #92d362;
        height: 2.3rem;
    }
}